<div class="product-grid">
    <div *ngFor="let product of posService.products(); trackBy: trackByProductId" class="card animate-fade-in">
        <div class="card-body p-4">
            <h3 class="text-lg font-bold">{{ product.name }}</h3>
            <p class="text-muted text-sm mb-4">Stock: {{ product.stock }}</p>
            <div class="flex items-center justify-between mt-auto">
                <span class="text-primary font-bold text-xl">{{ product.price | currency }}</span>
                <button class="btn btn-primary" [disabled]="product.stock <= 0"
                    (click)="posService.addToCart(product.id)">
                    {{ product.stock <= 0 ? 'Sin Stock' : 'Agregar' }} </button>
            </div>
        </div>
    </div>
</div>